.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #F9BE01;
    border-color: #F9BE01;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .1rem#fda300;
}

.btn-primary:disabled{
    background-color: #faeeb9!important;
    border-color: #faeeb9!important;
    cursor: not-allowed;
    color: #F9BE01;
}

.fas:hover{
    color: black;
}

#logo:hover, .navlink:hover {
    color: black!important;
    font-weight: 700;
}

#namatim{
    font-size: large;
}

#nama{
    font-size: 18px;
    color: #1f2040!important;
    padding-right: 7px;
}